<div ng-controller='PedidosTemporalesController'>
    <div class="page-title">
    <div class="title_left">
        <h3 style="width: 300px">Pedidos Temporales</h3>
    </div>
    
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content x_panel" style="margin: 0px">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div ng-show="validacion"><h3>“No hay pedidos Ingresados por este usuario” </h3></div>
                            <div class="x_content" ng-repeat='pedidos in pedidos' style="padding: 0px" >
                                <a ng-click="abrirModal(pedidos)">
                                    <div class="row pull-right" style="margin: 1px">
                                        <span class="fa fa-exclamation-triangle" ng-show="pedidos.sincronizado=='false'"></span>
                                        <span class="fa fa-check-circle" ng-hide="pedidos.sincronizado=='false'"></span>
                                    </div>
                                    <div class="row" style="margin: 0px">
                                        <div class="form-group col-md-4" style="margin: 1px">
                                            PEDIDO No: {{pedidos.rowidpedido}}
                                        </div>
                                        <div class="form-group col-md-4 pull-right" style="margin: 1px">
                                            {{pedidos.fecha_solicitud}}
                                        </div>   
                                    </div>

                                    <div class="row" style="margin: 0px">
                                        <div class="form-group col-md-12" style="margin: 1px">
                                           <strong> {{pedidos.razonsocial}}</strong>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 0px">
                                        <div class="form-group col-md-6" style="margin: 1px" >
                                            Cantidad Productos: {{pedidos.cantidadproductos}}
                                        </div>
                                        <div class="form-group col-md-4 pull-right" style="margin: 1px">
                                           <strong>  {{pedidos.valor_total | currency}}</strong>
                                        </div>
                                    </div>
                                </a>
                                <div class="separator"></div>
                            </div>
                                 
                    </form>
                </div>
        </div>
    </div>
    <div id="PedidoDetalle" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Detalle Pedido</h4>
                </div>
                <div class="modal-body">
                    <div id="testmodal" style="padding: 0px;">
                        <form id="antoform" class="form-horizontal calender form-label-left" role="form">
                            <div class="row " style="margin: 0px">
                                <div class="form-group col-md-4 col-xs-12" style="margin: 1px">
                                    Fecha Solicitud: <strong>{{pedidoSeleccionado.fecha_solicitud}}</strong>
                                </div> 
                            </div>
                            
                            <div class="row" style="margin: 0px">
                                <div class="form-group col-md-12" style="margin: 1px">
                                    Tercero: <strong>{{pedidoSeleccionado.razonsocial}}</strong> 
                                </div>

                            </div>
                            <div class="row" style="margin: 0px">
                                <div class="form-group col-md-12 col-xs-12" style="margin: 1px">
                                    Sucursal Facturacion :<strong> {{pedidoSeleccionado.nombre_sucursal}}</strong>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px">
                                <div class="form-group col-md-12 col-xs-12" style="margin: 1px">
                                    Punto Envio :<strong> {{pedidoSeleccionado.Nombre_punto_envio}}</strong>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px">
                                <div class="form-group col-md-4 col-xs-6" style="margin: 1px">
                                    Cantidad :<strong> {{pedidoSeleccionado.cantidadproductos}}</strong>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px">
                                
                                <div class="form-group col-md-4 col-xs-12" style="margin: 1px">
                                    Iva :<strong> {{pedidoSeleccionado.valor_impuesto|currency}}</strong>
                                </div>
                                <div class="form-group col-md-6 col-xs-12" style="margin: 1px">
                                    Valor Total :<strong> {{pedidoSeleccionado.valor_total | currency}}</strong>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px"><h3>Items</h3></div>
                            <div style="overflow-x:auto;" class="table-resposive">
                                <table class="table  table-striped responsive-utilities jambo_table bulk_action">
                                    <thead>
                                        <th class="column-title">
                                            Ref. 
                                        </th>
                                        <th ng-repeat="data in  TABLA_BALANCE" class="column-title">
                                            {{data.TALLAS}}
                                        </th>
                                        <th class="column-title">Total</th>
                                        <th class="column-title">Emp.</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in detallespedido">
                                           <td>
                                               {{item.item_referencia}}
                                           </td>
                                           <td ng-repeat="subitem in item.tallas track by $index">
                                                <center>
                                                    {{subitem.cantidad}}
                                                </center>
                                           </td>
                                           <td>{{item.cantidadtotal}}</td>
                                           <td>{{item.empaque}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Total:
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>{{contadores.cont5}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                
                                </table>  
                            </div>
                            
                            <!--<div id="parent">
                                    <div class="panel" ng-repeat="detallespedido in detallespedido">
                                        <div style="font-color:blue" data-toggle="collapse" data-parent="#parent" data-target="#{{detallespedido.rowid_item}}">         {{detallespedido.linea_descripcion}}
                                            <span class="fa fa-angle-down pull-right">
                                        </div>
                                        
                                        <div id="{{detallespedido.rowid_item}}" class="collapse in">
                                            <table class="table">
                                                <tr>
                                                    <td>Talla</td>
                                                    <td>Cantidad</td>
                                                </tr>
                                                <tr ng-repeat="subitem in detallespedido.tallas">
                                                    <td>{{subitem.talla}}</td>
                                                    <td>{{subitem.cantidad}} </td>
                                                </tr>
                                                <!--<tr>
                                                    <td>Total</td>
                                                    <td>{{items.precio*items.cantidad+((items.precio*items.cantidad)*items.impuesto_porcentaje/100)| currency}}</td>
                                                </tr>-->
                          <!--                  </table>
                                        </div>
                                    </div>
                            </div>-->
                            
                            
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="pedidoOpenModal" data-toggle="modal" data-target="#PedidoDetalle"></div>
</div>