<!-- select2 -->
<script>

    $(document).ready(function () {
        $(".select2_single").select2({
            placeholder: "Select a state",
            allowClear: true
        });
        $(".select2_group").select2({});
        $(".select2_multiple").select2({
            maximumSelectionLength: 4,
            placeholder: "With Max Selection limit 4",
            allowClear: true
        });

        $('#filterBTN').on('click',function(){
                     //do stuff here
                 });

        
    });
    

</script>
<!-- /select2 -->

<!-- form validation -->
<script type="text/javascript">
    

    $(document).ready(function () {
        $.listen('parsley:field:validate', function () {
            validateFront();
        });
        $('#form_encabezado .btn').on('click', function () {
            $('#form_encabezado').parsley().validate();
            validateFront();
        });
        var validateFront = function () {
            if (true === $('#form_encabezado').parsley().isValid()) {
                $('.bs-callout-info').removeClass('hidden');
                $('.bs-callout-warning').addClass('hidden');
            } else {
                $('.bs-callout-info').addClass('hidden');
                $('.bs-callout-warning').removeClass('hidden');
            }
        };
    });
    try {
        hljs.initHighlightingOnLoad();
    } catch (err) {}
</script>
<!-- /form validation -->
<!-- editor -->
<script>
    $(document).ready(function () {
        $('.xcxc').click(function () {
            $('#descr').val($('#editor').html());
        });
    });

    $(function () {
        function initToolbarBootstrapBindings() {
            var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
            'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
            'Times New Roman', 'Verdana'],
            fontTarget = $('[title=Font]').siblings('.dropdown-menu');
            $.each(fonts, function (idx, fontName) {
                fontTarget.append($('<li><a data-edit="fontName ' + fontName + '" style="font-family:\'' + fontName + '\'">' + fontName + '</a></li>'));
            });
            $('a[title]').tooltip({
                container: 'body'
            });
            $('.dropdown-menu input').click(function () {
                return false;
            })
            .change(function () {
                $(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');
            })
            .keydown('esc', function () {
                this.value = '';
                $(this).change();
            });

            $('[data-role=magic-overlay]').each(function () {
                var overlay = $(this),
                target = $(overlay.data('target'));
                overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
            });
            if ("onwebkitspeechchange" in document.createElement("input")) {
                var editorOffset = $('#editor').offset();
                $('#voiceBtn').css('position', 'absolute').offset({
                    top: editorOffset.top,
                    left: editorOffset.left + $('#editor').innerWidth() - 35
                });
            } else {
                $('#voiceBtn').hide();
            }
        };

        function showErrorAlert(reason, detail) {
            var msg = '';
            if (reason === 'unsupported-file-type') {
                msg = "Unsupported format " + detail;
            } else {
                console.log("error uploading file", reason, detail);
            }
            $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
        };
        initToolbarBootstrapBindings();
        $('#editor').wysiwyg({
            fileUploadError: showErrorAlert
        });
        window.prettyPrint && prettyPrint();
    });
</script>
<!-- /editor -->

<div ng-controller="pedidoController">
    <div class="page-title">
        <div class="title_left">
            <h3 style="width: 200px">Nuevo Pedido</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs tabs">
                    <li data-tab="tab_1" class="active"><a data-tab="tab_1" data-toggle="tab">Encabezado</a></li>
                    <li data-tab="tab_2"><a data-tab="tab_2" data-toggle="tab">Detalle</a></li>
                    <li data-tab="tab_3"><a data-tab="tab_3" data-toggle="tab">Balance</a></li>
                </ul>   
                <div class="tab-content ">
                    <div id="tab_1" class="tab-pane active">
                        <form id="form_encabezado" data-parsley-validate class="form-horizontal form-label-left" name="form_encabezado"  novalidate>
                        </br>
                        <div class="row">
                            <div class="x_content ">
                            </br>
                            <div class="form-group">
                                <label for="rowid_tercero" class="control-label col-md-3 col-sm-3 col-xs-12">Tercero<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input  placeholder="Seleccionar Tercero" type="text" ng-model="Search" class="form-control col-md-7 col-xs-12"  ng-change="onChangeFiltroTercero()"  ></input>
                                    <select 
                                    ng-model="terceroSelected" id="TerceroSelected" ng-options="partner as partner.razonsocial 
                                    for partner in list_tercero | filter:Search" class="form-control" ng-change="onChangeTercero()" >
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >Sucursal Facturacion<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select  id="rowid_cliente_facturacion" required
                                ng-model="sucursal"  ng-options="sucursal as sucursal.sucursal 
                                for sucursal in list_Sucursales " class="form-control" ng-change="onChangeSucursal()" >
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Punto Envio<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="id_punto_envio"  required
                            ng-model="puntoEnvio"  ng-options="puntoenvio as puntoenvio.concatenado 
                            for puntoenvio in list_puntoEnvio " class="form-control" ng-change="onChangePuntoEnvio()" >
                        </select>
                    </div>
                </div>
                <div class="form-group" style="display:none">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >Sucursal Despacho<span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select  id="rowid_cliente_despacho" required
                        ng-model="sucursalDespacho"  ng-options="sucursal as sucursal.sucursal 
                        for sucursal in list_Sucursales " class="form-control"  ng-change="onChangeSucursalDespacho()" >
                    </select>
                </div>
            </div>

            <div class="form-group" style="display:none">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Ciudad<span class="required"></span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input  placeholder="Ciudad"  ng-model="ciudadSucursal.nombre" type="text"  readonly class="form-control col-md-7 col-xs-12"  ></input>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Direccion<span class="required"></span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input  placeholder="Direccion"  type="text" ng-model="sucursalDespacho.direccion" readonly class="form-control col-md-7 col-xs-12"  ></input>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Contacto<span class="required"></span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input placeholder="Contacto" ng-model="sucursalDespacho.contacto"  type="text"  readonly class="form-control col-md-7 col-xs-12"  ></input>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Email<span class="required"></span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input placeholder="Email" ng-model="sucursalDespacho.email"   type="text"  readonly class="form-control col-md-7 col-xs-12"  ></input>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Telefono<span class="required"></span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input  placeholder="Telefono"  type="text" ng-model="sucursalDespacho.telefono" readonly class="form-control col-md-7 col-xs-12"  ></input>
                </div>
            </div>
            <div class="form-group" style="display:none">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Condicion de Pago<span class="required"></span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input  placeholder="Condicion Pago"  type="text" ng-model="sucursalDespacho.id_condicion_pago" readonly class="form-control col-md-7 col-xs-12"  ></input>
                </div>
            </div>
            <div class="form-group"  style="display:none">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Lista Precio<span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select  id="rowid_lista_precios" 
                    ng-model="listaPrecios"  ng-options="listprecios as listprecios.concatenado 
                    for listprecios in list_precios " class="form-control"  required>
                </select>
            </div>
        </div>

        
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" >Orden Compra<span class="required"></span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input  placeholder="Orden Compra" id="orden_compra" type="text" ng-model="pedidos.orden_compra" class="form-control col-md-7 col-xs-12"  ></input>
            </div>
        </div>
        <div class="form-group" style="display:none">

            <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha Solicitud <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="date" id="fecha_solicitud" name="fecha_solicitud" class="form-control"  ng-model="date"  ng-change="fechasolicitud()" >
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha Entrega <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="date" id="fecha_entrega" name="fecha_entrega" class="form-control"  ng-model="dateEntrega"  ng-change="fechaentrega()" required>
            </div>
        </div>
    </div>
    <div class="form-actions ">
        <button type="submit" class="btn btn-success pull-right" ng-disabled="form_encabezado.$invalid"  ng-click="ValidacionCabezera();focusInput=true;">Continuar</button>
    </div>
</div>

</form>
</div>
<div id="tab_2" class="tab-pane">
    <form class="form-horizontal form-label-left" name="form_detalle" >
        <div class="form-group">
        </br>
        
        <label for="rowid_item" class="control-label">Items<span class="required">*</span></label>
        <div class="form-group">
            <div class="row " style="display:none">
                <div class="form-group">
                    <input type="text" ng-model="filter.codigoitem"  placeholder="Codigo Item" name="  rowid_item"  ng-change="focusInput=false;onChangeFiltro()" class="form-control"  />
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" ng-model="SearchItem"  placeholder="Referencia-Descripcion Item" name="rowid_item"  id="rowid_item" ng-change="onChangeFiltro()" class="form-control"  focus-me="focusInput"/>
                </div>
                <div class="pull-right" style="display:none">
                    <button class="btn btn-success"  id="rowid_item" ng-click="onGetFiltro()"> <span class="fa fa-search"></span></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <select   ng-model="item" id="dataFiltered"  ng-options="item as item.producto 
                    for item in list_items  |filter:SearchItem" ng-change="onChangeComboItem()"   ng-change="hasFocus1=true" class="form-control" required ng-disabled="itemDisabled" >
                </select>    
            </div>
        </div>
        <div class="row" style="margin-left:4px">
            <label for="rowid_item" class="control-label">Empaque<span class="required">*</span></label>
        </div>
        <div class="row" >
            
            <div class="col-md-12 col-sm-12 col-xs-12">
                <select   ng-model="empaque" id="dataFiltered"  ng-options="empaque as empaque.tipo_reg_nombre for empaque in empaques " class="form-control" required >
                </select>    
            </div>
        </div>
    </div>
</div>

<div class="form-group" ng-show="validaciones">
    <table class="table">
        <tr>
            <td>Tallas</td>
            <td>Cantidad</td>
            <!--<td>Stock</td>-->
            <td><button class="btn btn-primary" ng-click="TallasMediaDocena()">6</button><button class="btn btn-success" ng-click="TallasGenerales()">12</button> </td>
        </tr>
        <tr  ng-repeat="tallas in tallas">
            <td class="col-md-2 col-ms-2 col-xs-2">{{tallas.talla}}</td>
            <td class="col-md-4  col-ms-4 col-xs-4">
                <div >
                     <div class=" input-group"  >
                        <span class="input-group-btn" ng-click="cantidadTalla(tallas.talla,'restar')">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-minus">
                                    
                                </span>
                            </button>
                        </span>
                        <input type="number" class="form-control " ng-model="tallas.cantidad"  ng-change="onChangeCantidad(tallas.talla,tallas.stock)"  step="any"  style="min-width:50px" min="0" />
                        <span class="input-group-btn" ng-click="cantidadTalla(tallas.talla,'suma',tallas.stock)">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus">
                                </span>
                            </button>
                        </span>
                    </div> 
                </div>
            </td>
            <td>
                <button class="btn btn-success colores-add"  ng-click="openModalDetalle2(tallas.itemID,tallas.talla,tallas.cantidad)"><span class="fa fa-plus"></span></button>
                <span class="fa fa-exclamation-triangle" style="color:#FF0040"  ng-show="tallas.estadoextension2==2"></span>
                <span class="fa fa-check-circle" style="color:#2F9B89" ng-show="tallas.estadoextension2==1"></span>
            </td>
            <!--<td>
                {{tallas.stock}}
            </td>-->
    </tr>
    <tr>
        <td>Total Cantidad</td>
        <td>{{cantidadrefererencia}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Total Unidades</td>
        <td>{{cantidadrefererencia*12}}</td>
        <td></td>
    </tr>
</table>


</div>

<div class="form-group" >
    <label for="descripcion">Descripcion:</label> 
    <textarea class="form-control" rows="4" id="descripcion" ng-model="Variables.descripcion" maxlength="20"></textarea>
    
</div>
<div class="form-actions">
    
</div>

<div class="form-actions">
    <!--<button class="btn btn-primary pull-right" type="submit" ng-click="CambiarTab('2','siguiente')" >Balance</button>-->
    <button type="button" class="btn btn-success pull-right"  ng-click="focusInput=true;adicionaritem()" data-toggle="dropdown" ng-disabled"form_detalle.$invalid">
        
        Agregar
    </button> 
</div>

</form>
</div>
<div class="tab-pane" id="tab_3">
    <form class="form-horizontal form-label-left">
    </br>
    <div style="overflow-x:auto;" class="table-resposive" >
        <table class="table  table-striped responsive-utilities jambo_table bulk_action">
            <thead>
                <th class="column-title">
                    Ref. 
                </th>
                <th ng-repeat="data in  TABLA_BALANCE" class="column-title">
                    {{data.TALLAS}}
                </th>
                <th class="column-title">Total</th>
                <th class="column-title">Emp.</th>
                <th class="column-title">Accion</th>
            </thead>
            <tbody>
                <tr ng-repeat="items in itemsAgregadosPedido" >
                         <td ng-click="ModalItem(items)">
                             {{items.item_referencia1}}
                         </td>
                         <td ng-repeat="talla in items.tallas" ng-click="ModalItem(items)">
                            <center>
                                {{talla.cantidad1}}
                            </center>
                        </td>
                        <td ng-click="ModalItem(items)">{{items.cantidad}}</td>
                        <td ng-click="ModalItem(items)">{{items.empaqueshow}}</td>
                        <td>
                         <span class="fa fa-pencil btn btn-success" ng-click="editItem(items,$index)" style="font-size:.7em; width:30px;"></span>
                         <span class="fa fa-trash-o btn btn-danger" ng-click="delete($index)" style="font-size:.7em; width:30px;"></span>
                         
                     </td>
                 </tr>
                 <tr>
                    <td>
                        Total:
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{CantidadTotalPedido}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        
    </table>
</div>

                                <div class="form-group" style="display:none">
                                    <label for="criterio">Criterio Clasificacion :</label>
                                    <div >
                                        <input class="form-control" type="text" id="criterio" ng-model="criterio.erp_descripcion" readonly>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <span class="badge">Total : {{pedidoDetalles.total | currency}}</span>
                                    
                                </div>
                                <div class="form-group">
                                    <label >Observaciones <span ></span>
                                    </label>
                                    <textarea class="form-control" rows="2" id="descripcion" ng-model="pedidos.observaciones" maxlength="1990" ></textarea>
                                </div>
                            </form>
                            <div class="form-actions">
                                <button class="btn btn-success pull-right" id="btnGuardar" ng-click="validacionInsert()">Finalizar <i class="icon-angle-right"></i></button>
                                <button class="btn btn-primary pull-right" ng-click="CambiarTab(3,'atras');">Atras</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="confirmacionsalida" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Confirmacion Salida</h4>
                    </div>
                    <div class="modal-body">
                        <div id="testmodal" style="padding: 0px;">
                            <form id="antoform" class="form-horizontal calender form-label-left" role="form">
                                
                                <div>
                                    ¿Desea Guardar El Pedido?
                                </div>
                                
                                
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger antoclose" ng-click="onConfirmarSalida('salir')" data-dismiss="modal" style="margin:0px">Salir</button>
                    <button type="button" class="btn btn-success antoclose" ng-click="onConfirmarSalida('guardar')" data-dismiss="modal" >Si</button>
                    <button type="button" class="btn btn-primary antoclose" ng-click="onConfirmarSalida('permanecer')" data-dismiss="modal">Permanecer</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="confirmacion" data-toggle="modal" data-target="#confirmacionsalida"></div>
        <div id="coloresConfirmacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Confirmacion</h4>
                    </div>
                    <div class="modal-body">
                        <div id="testmodal" style="padding: 0px;">
                            <form id="antoform" class="form-horizontal calender form-label-left" role="form">
                                
                                <div>
                                    Desea Eliminar Colores para Disminuir la Cantidad
                                </div>
                                
                                
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger antoclose"  data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-success antoclose" ng-click="eliminarColores()" data-dismiss="modal">Si</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="confirmacioncolores" data-toggle="modal" data-target="#coloresConfirmacion"></div>
        <div id="extensionDetalle2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Asignacion Colores</h4>
                    </div>
                    <div class="modal-body">
                        <div id="testmodal" style="padding: 0px;">
                            <form id="antoform" class="form-horizontal calender form-label-left" role="form">
                                <div class="row" style="margin: 0px">
                                    <div class="form-group col-md-12" style="margin: 1px">
                                        Item: <strong>{{item.item_referencia1}}</strong> 
                                    </div>
                                   
                                </div>
                                <div class="row" style="margin: 0px">
                                    <div class="form-group col-md-12" style="margin: 1px">
                                        Talla: <strong>{{InfoItemAdicional.talla}}</strong> 
                                    </div>
                                </div>
                                <div class="row" style="margin: 0px">
                                    <div class="form-group col-md-12" style="margin: 1px">
                                        Cantidad: <strong>{{InfoItemAdicional.cantidad}}</strong> 
                                    </div>
                                </div>
                                <div class="row" style="margin: 0px">
                                    <div class="form-group col-md-12" style="margin: 1px">
                                        Cantidad Sin Color: <strong>{{cantidadRestante}}</strong> 
                                    </div>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td></td>
                                        <td>Color</td>
                                        <td>Cantidad</td>
                                         
                                        <td>Stock</td>
                                    </tr>
                                    <tr ng-repeat="extension in itemextension2Detalle" style="height:5px">
                                        <td style="border: 1px solid #b6b6b6;background:{{extension.rgba}};">
                                        <td>{{extension.extencionDetalle2ID}}</td>
                                        
                                        <td>
                                             <div class=" input-group" style="max-width:160px"  >
                                                <span class="input-group-btn"  ng-click="adicionarCantidadDetalle2(extension.extencionDetalle2ID,'restar',extension.stock,extension.cantidadextension1)">
                                                    <button type="button" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-minus">
                                                            
                                                        </span>
                                                    </button>
                                                </span>
                                                <input type="number" step="any" ng-model="extension.cantidad" ng-change="onChangeCantidadDetalle2(extension.extencionDetalle2ID,extension.stock,extension.cantidadextension1)" class="form-control text-center" ng-readonly="readonly" min="0" />
                                                <span class="input-group-btn"  ng-click="adicionarCantidadDetalle2(extension.extencionDetalle2ID,'sumar',extension.stock,extension.cantidadextension1)">
                                                    <button type="button" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-plus">
                                                        </span>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        
                                            
                                            
                                        </td>
                                        <td>{{extension.stock}}</td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger antoclose" id="CerrarModalColores" style="margin:0px" ng-click="ModalColorOpen=false;"  data-dismiss="modal">Salir</button>
                    <button type="button" class="btn btn-success antoclose"  ng-click="agregarColoresTalla()"  data-dismiss="modal">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="extension2" data-toggle="modal" data-target="#extensionDetalle2"></div>
        <div id="ColoresMasivoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" style="padding-bottom:100px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="">Asignacion Colores</h4>
                    </div>
                    <div class="modal-body">
                        <div id="testmodal" style="padding: 0px;">
                            <form id="antoform" class="form-horizontal calender form-label-left" role="form">
                                <div class="row" style="margin: 0px">
                                    <div class="form-group col-md-12" style="margin: 1px">
                                        Item: <strong>{{item.item_referencia1}}</strong> 
                                    </div>
                                     <div class="form-group col-md-12" style="margin: 1px">
                                        Cantidad Restante: <strong>{{Restante}}</strong> 
                                    </div>
                                </div>
                                <table class="table">
                                    <tr>
                                     <td></td>
                                        <td>Color</td>
                                       
                                        <td>Cantidad</td>
                                        
                                    </tr>
                                    <tr ng-repeat="extension in ColorMasivo">
                                    <td style="border: 1px solid #b6b6b6;background:{{extension.rgba}};">
                                            
                                            
                                        </td>
                                        <td>{{extension.extencionDetalle2ID}}</td>
                                        
                                        <td>
                                             <div class=" input-group" style="max-width:160px"  >
                                                <span class="input-group-btn"  ng-click="adicionarCantidadColor(extension.extencionDetalle2ID,'RESTAR')">
                                                    <button type="button" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-minus">
                                                            
                                                        </span>
                                                    </button>
                                                </span>
                                                <input type="number" step="any" ng-model="extension.cantidad"  class="form-control text-center" readonly="readonly"  />
                                                <span class="input-group-btn"  ng-click="adicionarCantidadColor(extension.extencionDetalle2ID,'SUMAR')">
                                                    <button type="button" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-plus">
                                                        </span>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger antoclose" id="ModalMasivo" style="margin:0px" ng-click="ModalColorMasivo=true;"  data-dismiss="modal">Salir</button>
                    <button type="button" class="btn btn-success antoclose"  ng-click="AgregarColoresMasivo()"  data-dismiss="modal">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="OpenModalColor" data-toggle="modal" data-target="#ColoresMasivoModal"></div>

        <div id="ColoresMasivoModalMedia" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" style="padding-bottom:100px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="">Asignacion Colores</h4>
                    </div>
                    <div class="modal-body">
                        <div id="testmodal" style="padding: 0px;">
                            <form id="antoform" class="form-horizontal calender form-label-left" role="form">
                                <div class="row" style="margin: 0px">
                                    <div class="form-group col-md-12" style="margin: 1px">
                                        Item: <strong>{{item.item_referencia1}}</strong> 
                                    </div>
                                     <div class="form-group col-md-12" style="margin: 1px">
                                        Cantidad Restante: <strong>{{MediaDocenaCount}}</strong> 
                                    </div>
                                </div>
                                <table class="table">
                                    <tr>
                                     <td></td>
                                        <td>Color</td>
                                       
                                        <td>Cantidad</td>
                                        
                                    </tr>
                                    <tr ng-repeat="extension in ColorMasivoMedia">
                                    <td style="border: 1px solid #b6b6b6;background:{{extension.rgba}};">
                                            
                                            
                                        </td>
                                        <td>{{extension.extencionDetalle2ID}}</td>
                                        
                                        <td>
                                             <div class=" input-group" style="max-width:160px"  >
                                                <span class="input-group-btn"  ng-click="adicionarCantidadColorM(extension.extencionDetalle2ID,'RESTAR')">
                                                    <button type="button" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-minus">
                                                            
                                                        </span>
                                                    </button>
                                                </span>
                                                <input type="number" step="any" ng-model="extension.cantidad"  class="form-control text-center" readonly="readonly"  />
                                                <span class="input-group-btn"  ng-click="adicionarCantidadColorM(extension.extencionDetalle2ID,'SUMAR')">
                                                    <button type="button" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-plus">
                                                        </span>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger antoclose" id="ModalMasivoMedia" style="margin:0px" ng-click=""  data-dismiss="modal">Salir</button>
                    <button type="button" class="btn btn-success antoclose"  ng-click="AgregarColoresMasivoM()"  data-dismiss="modal">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="OpenModalColorMedia" data-toggle="modal" data-target="#ColoresMasivoModalMedia"></div>


        <div id="Modalcolores" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" style="padding-bottom:100px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="">Detalle Item</h4>
                    </div>
                    <div class="modal-body">
                        <div id="testmodal" style="padding: 0px;">
                            <form id="antoform" class="form-horizontal calender form-label-left" role="form">
                                <div class="row" style="margin: 0px">
                                    <div class="form-group col-md-12" style="margin: 1px">
                                         <label>
                                        Item: <strong>{{ItemModal.descipcion}}</strong> 
                                        </label>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0px">
                                    <div class="form-group col-md-4" style="margin: 1px">
                                        <label>
                                        Referencia: <strong>{{ItemModal.item_referencia1}}</strong> 
                                        </label>
                                    </div>
                                    <div class="form-group col-md-4" style="margin: 1px">
                                        <label>
                                        Empaque: <strong>{{ItemModal.empaque}}</strong> 
                                        </label>
                                    </div>
                                    <div class="form-group col-md-4" style="margin: 1px">
                                        <label>
                                        Cantidad: <strong>{{ItemModal.cantidad}}</strong> 
                                        </label>
                                    </div>
                                </div>
                                <div ng-repeat="item in ItemModal.tallas" ng-show="item.cantidad>0">

                                    <strong> Talla : {{item.talla}}</strong>
                                    <div style="overflow-x:auto;" class="table-resposive" >
                                    <table class="table table-striped responsive-utilities jambo_table bulk_action">
                                        <tr>
                                            <td ng-repeat="color in item.detalle2" ng-show="{{color.cantidad>0}}" style="border: 1px solid #b6b6b6;background:{{color.rgba}};" ></td>
                                        </tr>
                                        <tr>
                                            <td ng-repeat="color in item.detalle2"  ng-show="{{color.cantidad>0}}">{{color.extencionDetalle2ID}} </td>
                                        </tr>
                                        <tr>
                                            <td ng-repeat="color in item.detalle2"  ng-show="{{color.cantidad>0}}">{{color.cantidad}} </td>
                                        </tr>
                                    </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger antoclose" id="modalBalanceColores" style="margin:0px"  data-dismiss="modal">Salir</button>
                    
                    </div>
                </div>
            </div>
        </div>
        
        <div id="ColoresAgregados" data-toggle="modal" data-target="#Modalcolores"></div>

        <div id="AlertaSincronizacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" style="padding-bottom:100px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="">Alerta Sincronizacion</h4>
                    </div>
                    <div class="modal-body">
                        <div id="testmodal" style="padding: 0px;">
                            <form id="antoform" class="form-horizontal calender form-label-left" role="form">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                         Desea Realizar la Sincronizacion antes Realizar el Pedido? <br>
                                         Ultima Actualizacion Realizada {{fechaSincronizacion}}
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger antoclose" id="" style="margin:0px"  data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-success " id="aceptarsincronizacion" ng-click="sincronizar()" style="margin:0px"  data-dismiss="modal">Sincronizar</button>
                    
                    </div>
                </div>
            </div>
        </div>
        
        <div id="AlertaSin" data-toggle="modal" data-target="#AlertaSincronizacion"></div>
    </div>